# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
#load cities.csv
cities = pd.read_csv("output_data/cities.csv", encoding="utf-8")
cities.head()

,City,Latitude,Lng,Cloudiness,Country,Date,Humidity,Max Temp,Wind Speed
0,Maltahöhe,-24.83,16.98,0,NaN,1603134554,19,73.06,16.13
1,Mount Isa,-20.73,139.50,0,AU,1603134416,19,77.00,5.82
2,Rikitea,-23.12,-134.97,0,PF,1603134064,79,73.89,14.74
3,Mataura,-46.19,168.86,94,NZ,1603133966,69,50.00,17.00
4,Tuktoyaktuk,69.45,-133.04,92,CA,1603134354,97,22.60,5.59

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [6]:
# Configure gmaps
gmaps.configure(api_key=g_key)

#Variables
humidity = cities["Humidity"].astype(float)
maxhumidity = humidity.max()
locations = cities[["Latitude", "Lng"]]

In [7]:
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=humidity,dissipating=False, max_intensity=maxhumidity,point_radius=3)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [ ]:
 Narrow down the DataFrame to find your ideal weather condition. For example:

  * A max temperature lower than 80 degrees but higher than 70.

  * Wind speed less than 10 mph.

  * Zero cloudiness.

  * Drop any rows that don't contain all three conditions. You want to be sure the weather is ideal.

In [13]:
ideal_vacation_df = cities.loc[(cities["Wind Speed"] <= 10) & 
                               (cities["Cloudiness"] < 10) & 
                               (cities['Humidity']< 15) &
                               (cities["Max Temp"] >= 65) & (cities["Max Temp"] <= 90)].dropna()

ideal_vacation_df

,City,Latitude,Lng,Cloudiness,Country,Date,Humidity,Max Temp,Wind Speed
231,Show Low,34.25,-110.03,1,US,1603134818,9,75.20,8.05
284,Monte Patria,-30.69,-70.95,0,CL,1603134879,13,86.18,9.98
396,Sakakah,29.97,40.21,0,SA,1603135007,11,73.40,5.82
438,Las Vegas,36.17,-115.14,1,US,1603134530,12,84.99,0.87
519,Tessalit,20.20,1.01,0,ML,1603135148,13,88.45,9.37

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [5]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

NameError: name 'hotel_df' is not defined

In [ ]:
# Add marker layer ontop of heat map


# Display figure